.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&--h-60 {
		height: 60vh;
	}
	&__wrapper {
		text-align: center;
	}
	&__message {
		margin-bottom: 12px;
		font-weight: 600;
		font-size: 17px;
		line-height: 22px;
		color: #050510;
	}
	&__description {
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 20px;
		color: #97979b;
	}
	&__button {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: #6534ff;
	}
}
