.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.4);
	&--full {
		width: 100vw;
		height: 100vh;
	}
	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
	&__wrapper {
		width: 375px;
		padding: 20px;
		background-color: #fff;
		border-radius: 20px;
		&--relative {
			position: relative;
		}
	}

	&__title {
    text-align: center;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		color: $dark;
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background: $lightGrayish;
		color: $grayish;
		&--absolute {
			position: absolute;
      top: 20px;
      right: 20px;
		}
	}
}
