.menu {
	display: flex;
	padding-top: 14px;
	&__item {
		padding: 0 12px 12px;
		text-align: center;
		cursor: pointer;
		color: $darkGrayish;
		&--active {
			color: $dark;
			border-bottom: 2px solid $lightBlue;
		}
	}
}
