.users {
	padding: 20px 0;
	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

.user {
	display: flex;
	align-items: center;
	gap: 16px;
	&__avatar {
		width: 72px;
		height: 72px;
		border-radius: 50%;
	}
	&__name {
		display: inline-block;
		margin-right: 5px;
		margin-bottom: 5px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: $dark;
	}
	&__tag {
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: $darkGrayish;
	}
	&__position {
		font-size: 13px;
		line-height: 16px;
		color: $veryDarkGrayish;
		text-transform: capitalize;
	}
	&__birthday {
		margin-left: auto;
		font-size: 15px;
		line-height: 20px;
		color: $veryDarkGrayish;
	}
}
